body{
  background-color: rgb(224, 237, 240);
  box-sizing: border-box;
}
/*barra de navegacion general*/
header{
  background-color: #008080;
  top: 0;
  width: 100%;
}

header > *{
  display: inline-block;
  text-align: center;
}

/*Logo pinterest*/
header > h1{
  width: 10%;
}

i{
  color: #FFFFFF;
  width: 150%;
}

/*Formulario input*/
#search{
  width: 60%;
}

a > i{
  bottom: 0.4cm;
  color: #d3d3d3;
  float: right;
  position: relative;
  top: 0.1cm;
  right: 5cm;
  width: 2%;
}
header > form{
  color: #FFFFFF;
  width: 65%;
}
/*Enlace navegacion*/
header > nav{
  width: 20%;
}

nav > div *{
  color: #FFFFFF;
  float: left;
  font-family: 'Reem Kufi', sans-serif;
  margin-left: 2mm;
  margin-right: 1cm;
  margin-top: 3mm;
  width:10%;
}

/*Barra de menu */
#menu a{
  border: 0.4mm solid #ffffff;
  border-radius:10%;
  color: #136C68;
  display: inline-block;
  font-family: 'Federo', sans-serif;
  font-weight: bold;
  margin: 0.5cm 1cm 0.1cm 1cm;
  padding: 0.6cm;
  text-align: center;
}

  #menu a:hover{
  border-radius: 10%; 
  transform: scale(1.1);
}

.moda{
  background-color: #3CDDD5;
}

.accesories{
  background-color: #66fcff;
}

.tendence{
  background-color: #00C9CC;
}

.footwear{
  background-color: #67e4de;
}

.clothes{
  background-color: #66fcff;
}

/*columnas*/
img{
  border-radius: 10%;
  margin-bottom: 0.4cm;
  width: 100%;
}

.image:hover{
  border-radius: 10%; 
  transform: scale(1.1);
}

.col{
  float: left;
  margin: 0.4cm 0.8cm 0;
  width: 26%;
}

.pin{
  margin-bottom: 0.3cm;
  position: relative;
  overflow: hidden;
}


.tittle{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 85%;
}

.more {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0.5cm;
  color: #ffffff;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 75%;
  padding: 4mm;
  position: absolute;
  text-align: justify;
  transform: translateY(145%);
}

.pin:hover .more{
  border: 0.2mm solid #FFFFFF;
  border-radius: 10%;
  transform: translateY(0%);
}







