body{
  box-sizing: border-box;
}

header{
  background-color: #008080;
}

header > *{
  display: inline-block;
  text-align: center;
}

header > h1{
  width: 12%;
}

i{
  width: 150%;
}

#search{
  width: 60%;
}

header > form{
  width: 65%;
}

header > nav{
  width: 20%;
}

nav > div *{
  color: #FFFFFF;
  float: left;
  font-family: 'Reem Kufi', sans-serif;
  margin-right:1cm;
  margin-left: 2mm;
  margin-top: 3mm;
  width:10%;
}

img{
  border-radius: 10%;
  width: 100%;
}

.image:hover{
  border: 2mm groove #FFFAFA;
  border-radius: 10%; 
  transform: scale3D(2.5);
}

.col{
  float: left;
  left: 20%;
  margin: 0.5cm 0.8cm;
  width: 27%;
}

.pin{
  margin-bottom: 0.3cm;
}

.tittle{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 85%;
}

.more {
  background-color:;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 75%;
  margin: 4mm;
  text-align: justify;
  transition:; 
  transform: ;
}



